* {
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1c1c30 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c1c30;
  border-radius: 10px;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}
